$primary-color: #19227d;
$secondary-color: #ef4323;
$bg-light: #5d8efe;
$blue-light: #8eb0fd;
$light-grey: #968a8a;
$white: #ffffff;
$black: #000000;

$noramal: 500;
$semi-bold: 600;
$bold: 700;
$medium-bold: 800;
$ex-bold: 900;
