@import "../../../assets/scss/global-variable.scss";
.jobs-form1-section {
  position: absolute;
  // top: 19%;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 1;
  @media (max-width: 1536px) {
    //  top: 20%;
    top: 170px;
     }
     @media (max-width: 1440px) {
      // top: 20%;
      top: 170px;
      }
  @media (max-width:1366px) {
    // top: 25%;
    top: 150px;
    left: 0;
    right: 0;
  }
  @media (max-width: 1280px) {
      // top: 22%;
      top: 160px;
  }
    @media (max-width: 1024px) {
      // top: 22%;
      top: 120px;
    }
    @media 
    (max-device-width: 1024px)
    and (max-device-height: 1366px) { 
      top: 12%;
    }
    @media 
    (max-device-width: 1024px)
    and (max-device-height: 768px) { 
      // top: 22%;
      top: 170px;
    }
    @media (max-width: 962px) {
      // top: 28%;
      top: 170px;
     }
     @media 
     (max-device-width: 896px)
     and (max-device-height: 414px) { 
      //  top: 40%;
      top: 150px;
     }
     @media 
     (max-device-width: 853px)
     and (max-device-height: 480px) { 
      //  top: 34%;
      top: 150px;
    }
    @media 
    (max-device-width: 823px)
    and (max-device-height: 411px) { 
      // top: 40%;
      top: 150px;
   }
   @media 
   (max-device-width: 812px)
   and (max-device-height: 375px) { 
    //  top: 44%;
    top: 150px;
  }
    @media (max-width: 800px) {
      // top: 12%;
      top: 150px;
    }
    @media (max-width: 768px) {
    // top: 15%;
    top: 150px;
    }
    @media 
    (max-device-width: 736px)
    and (max-device-height: 414px) { 
      // top: 39%;
      top: 150px;
    } 
    @media 
    (max-device-width: 731px)
    and (max-device-height: 411px) { 
      // top: 38%;
      top: 150px;
    } 
    @media 
    (max-device-width: 667px)
    and (max-device-height: 375px) { 
      // top: 40%;
      top: 150px;
    }    
    @media (max-width: 640px) {
      // top: 42%;
      top: 150px;
    }
    @media (max-width: 601px) {
      // top: 16%;
      top: 150px;
    }
    @media (max-width: 568px) {
      // top: 34%;
      top: 120px;
    }
    @media (max-width: 480px) {
      // top: 13%;
      top: 110px;
    }
    @media 
    (max-device-width: 480px)
    and (max-device-height: 320px) { 
      // top: 34%;
      top: 110px;
   }
    @media (max-width:414px) {
      top: 120px;
    }
    @media 
    (max-device-width: 414px)
    and (max-device-height: 896px) { 
      // top: 13%;
      top: 120px;
   }
    @media (max-width:411px) {
      // top: 14%;
      top: 120px;
    }
    @media (max-width: 375px) {
      // top: 17%;
      top: 120px;
    }
    @media (max-device-width: 375px)
    and (max-device-height: 812px)  {
      // top: 15%;
      top: 120px;
    }
    @media (max-width: 360px) {
      // top: 17%;
      top: 120px;
    }
    @media (max-width: 320px) {
      // top: 21%;
      top: 110px;
    }
    @media 
    (max-device-width: 320px)
    and (max-device-height: 568px) { 
      // top: 18%;
      top: 110px;
   }
    @media (min-width: 1536px){
      .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
          max-width: 1320px;
      }
    }
    @media (min-width: 1920px){
      .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
          max-width: 1520px;
      }
    }
  .jobs-form1-inner {
    border-radius: 20px;
    .title-form {
      padding: 60px 0;
      text-align: center;
      background-color: #e1f2f8;
      border-radius: 20px 20px 0 0;
      h3 {
        margin-bottom: 0;
        font-weight: $semi-bold;
        color: $secondary-color;
        font-size: 40px;
        @media (max-width: 1366px) {
          font-size: 28px;
        }
        @media (max-width: 962px) {
          font-size: 22px;
        }
      }
      @media (max-width: 1536px) {
        padding: 50px 0;
        }
      @media (max-width: 1366px) {
        padding: 40px 0;
      }
        @media (max-width: 962px) {
          padding: 24px 0;
        }
        @media (max-width: 800px) {
         padding: 40px 0;
        }
        @media (max-width: 601px) {
          padding: 40px 0;
        }
        @media (max-width: 480px) {
          padding: 30px 0;
        }
        @media (max-width: 375px) {
           padding: 20px 0;
        }
    }
    .form-content {
      background-color: $white;
      padding: 90px 100px 90px 100px;
      border-radius: 0 0 20px 20px;
      .application-name {
        text-align: center;
        h4 {
          color: $bg-light;
          font-weight: $semi-bold;
          font-size: 30px;
          @media (max-width: 1366px) {
            font-size: 24px;
           }
            @media (max-width: 962px) {
             font-size: 20px;
            }
            @media (max-width: 800px) {
             font-size: 18px;
            }
            @media (max-width: 360px) {
              font-size: 14px;
             }
        }
        p {
          font-weight: $semi-bold;
          color: $black;
          margin-bottom: 0;
          font-size: 20px;
          @media (max-width: 1366px) {
            font-size: 18px;
          }
          @media (max-width: 962px) {
              font-size: 16px;
          }
          @media (max-width:800px) {
              font-size: 15px;
          }
          @media (max-width: 360px) {
              font-size: 12px;
          }
        }
      }
      .employer-date {
        margin-top: 40px;
        .employer {
          p{
            color: $black;
            font-weight: $noramal;
            @media (max-width: 360px) {
              font-size: 12px;
            }
          }
        }
        .date-select{
          .react-datepicker-wrapper {
            width: 100%;
            input{
              width: 100%;
              color: $primary-color;
            border-color: $primary-color;
            border: 1px solid $primary-color;
            font-size: 1rem;
            border-radius: 0.25rem;
            text-align: center;
            }
          }
        }
        @media (max-width: 375px) {
          margin-top: 20px;
        }
      }
      .box-main {
        border: 2px solid #eee;
        padding: 40px;
        border-radius: 8px;

        .MuiFormControl-fullWidth {
          margin: 0 !important;
          .MuiInputLabel-formControl {
            font-size: 20px !important;
            color: $black;
            font-weight: $semi-bold;
            @media (max-width: 1366px) {
              font-size: 16px !important;
               }
            @media (max-width: 1024px) {
             font-size: 14px !important;
              }
              @media (max-width: 962px) {
                font-size: 12px !important;
                 }
                 @media (max-width: 896px) {
                  font-size: 12px !important;
                   }   
                   @media (max-width: 768px) {
                    font-size: 14px !important;
                     }   
                   @media (max-width: 640px) {
                    font-size: 14px !important;
                     }  
                     @media (max-width: 601px) {
                      font-size: 12px !important;
                       }      
              @media (max-width: 375px) {
                font-size: 10px !important;
              }
              @media (max-width: 320px) {
                font-size: 9px !important;
              }
          }
          .MuiInput-root {
            font-size: 12px;
          }
          .MuiInput-formControl {
            margin-top: 26px !important;
            .MuiInputBase-input {
              font-size: 12px !important;
              @media (max-width: 640px) {
                font-size: 10px !important;
              }
            }
            @media (max-width: 962px) {
              margin-top: 20px !important;
              }
              @media (max-width: 896px) {
                margin-top: 20px !important;
              }
              @media (max-width: 601px) {
                margin-top: 18px !important;
              }
              @media (max-width: 480px) {
                margin-top: 18px !important;
              }
              @media (max-width: 414px) {
                margin-top: 18px !important;
              }
              @media (max-width: 375px) {
                margin-top: 14px !important;
              }
          }
        }
        .MuiFormControl-root {
          margin-bottom: 20px !important;
        }
        @media (max-width: 1024px) {
          padding: 40px 20px;
        }
        @media (max-width: 962px) {
            padding: 40px 20px;
          }
          @media (max-width: 800px) {
            padding: 70px 40px;
            .col-md-6{
              width: 100%;
            }
          }
          @media (max-width: 736px) {
            margin-top: 20px;
            padding: 50px 40px;
          }
          @media (max-width: 480px) {
            padding: 40px 30px;
          }
          @media (max-width: 414px) {
            padding: 40px 20px;
          }
          @media (max-width: 375px) {
            padding: 30px 20px;
          }
          @media (max-width: 320px) {
            padding: 20px 10px;
          }
      }
      .next-btn {
        margin-top: 50px;
        text-align: center;
        .btn {
          border-radius: 30px;
          padding: 8px 200px;
          @media (max-width: 480px) {
            padding: 8px 180px;
          }
          @media (max-width: 414px) {
            padding: 8px 130px;
          }
          @media (max-width: 320px) {
            padding: 8px 100px;
          }
        }
        .btn-primary {
          background-color: $secondary-color;
          border-color: $secondary-color;
          color: $white;
          font-weight: $semi-bold;
          &:focus{
            box-shadow: unset;
          }
        }
        @media (max-width: 320px) {
          margin-top: 30px;
        }
      }
      @media (max-width: 1536px) {
        padding: 40px 100px 40px 100px;
        }
      @media (max-width: 1366px) {
        padding: 40px 100px 50px 100px;
        }
      @media (max-width: 962px) {
         padding: 30px 30px;
        }
        @media (max-width: 800px) {
          padding: 40px 40px 120px 40px;
        }
        @media (max-width: 601px) {
          padding: 40px 40px;
        }
        @media (max-width: 480px) {
          padding: 30px;
        }
        @media (max-width: 414px) {
          padding: 30px 20px;
        }
    
    }
  }
  .gas-station {
    position: absolute;
    top: -5%;
    left: 9%;
    display: flex;
    z-index: -1;
    img{
      width: 80px;
      height: 70px;
      @media (max-width: 1536px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 1366px) {
        width: 70px;
        height: 60px;
      }
      @media (max-width: 1200px) {
        width: 70px;
        height: 70px;
      }
      @media (max-width: 1085px) {
        width: 70px;
        height: 70px;
      }
    }
    .dots-right {
      margin-left: 10px;
      img{
          width: 70px;
          height: 70px;
        @media (max-width: 1366px) {
          width: 70px;
          height: 50px;
        }
        @media (max-width: 1200px) {
          width: 70px;
          height: 70px;
        }
        @media (max-width: 1085px) {
          width: 70px;
          height: 70px;
        }
        @media (max-width: 823px) {
          width: 80px;
          height: 70px;
        }
      }  
    }
    @media (max-width: 1536px) {
      top: -5%;
      left: 5%;
    }
    @media (max-width: 1440px) {
      top: -6%;
      left: 2%;
    }
    @media (max-width:1366px) {
      top: -4%;
      left: 6%;
    }
    @media (max-width: 1280px) {
        top: -4%;
        left: 3%;
    }
    @media (max-width: 1085px) {
      top: -3%;
      left: 8%;
    }
    @media (max-width: 1024px) {
      top: -6%;
      left: 1%;
    }
    @media (max-width: 962px) {
     top: -6%;
     left: 10%;
    }
    @media 
    (max-device-width: 896px)
    and (max-device-height: 414px) { 
      top: -6%;
      left: 7%;
    }
    @media 
    (max-device-width: 853px)
    and (max-device-height: 480px) { 
      top: -6%;
      left: 5%;
   }
   @media 
    (max-device-width: 823px)
    and (max-device-height: 411px) { 
      top: -6%;
      left: 5%;
   }
   @media 
   (max-device-width: 812px)
   and (max-device-height: 375px) { 
     top: -6%;
     left: 3%;
  }
    @media (max-width: 800px) {
      top: -4%;
      left: 3%;
    }
    @media (max-width: 768px) {
      top: -4%;
      left: 1%;
    }
    @media 
    (max-device-width: 736px)
    and (max-device-height: 414px) { 
      top: -4%;
      left: 10%;
    }
    @media 
    (max-device-width: 731px)
    and (max-device-height: 411px) { 
      top: -4%;
      left: 10%;
    }    
    @media 
    (max-device-width: 667px)
    and (max-device-height: 375px) { 
      top: -4%;
      left: 5%;
    }
    @media 
    (max-device-width: 640px)
    and (max-device-height: 360px) { 
      top: -4%;
      left: 4%;
    }
    @media (max-width: 601px) {
      left: 2%;
      top: -4%;
    }
    @media (max-width: 568px) {
      left: 0;
      top: -4%;
    }
    @media (max-width: 480px) {
      left: -1%;
      top: -4%;
    }
    @media (max-width:414px) {
      left: 0;
      top: -4%;
    }
    @media (max-width: 375px) {
      left: 0;
      top: -5%;
    }
    @media (max-width:360px) {
      left: -1%;
      top: -5%;
    }
    @media (max-width: 320px) {
      left: -1%;
      top: -5%;
    }
  }
}
.bottom-footer1-section {
  .bottom-footer1-inner {
    width: 100%;
    background-color: $primary-color;
    height: 180px;
    @media (max-width: 1536px) {
      height: 180px;
    }
    @media (max-width: 1440px) {
        height: 150px;
    }
    @media (max-width:1366px) {
      height: 320px;
      }
      @media 
      (max-device-width: 1366px)
      and (max-device-height: 1024px) { 
        height: 424px;
      }
      @media (max-width: 1024px) {
        height: 320px;
        }
        @media 
        (max-device-width: 1024px)
        and (max-device-height: 1366px) { 
          height: 714px;
        }
        @media 
        (max-device-width: 1024px)
        and (max-device-height: 768px) { 
          height: 320px;
        }
      @media (max-width: 823px) {
        height: 300px;
        }
      @media (max-width:800px) {
        height: 640px;
        }
        @media 
        (max-width: 736px){ 
          height: 570px;
        }  
        @media 
        (max-width: 731px){ 
          height: 550px;
        }    
        @media (max-width: 640px) {
          height: 550px;
          }
        @media (max-width: 601px) {
          height: 400px;
          }
        @media (max-width:414px) {
          height: 370px;
          }
          @media (max-width:411px) {
            height: 370px;
            }
            @media (max-width: 375px) {
              height: 350px;
              }
          @media (max-width: 360px) {
            height: 300px;
            }
            @media (max-width: 320px) {
              height: 300px;
              }
  }
}
